<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - DjangoFEA</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/6.4.0/rzslider.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-route.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/6.4.0/rzslider.min.js"></script>
</head>

<body ng-app="djangofea">
    <div ng-controller="AuthenticationController" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">DjangoFEA</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about/">About</a></li>
                    <li><a href="/contact/">Contact</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a ng-href="#!/login-form">Log in</a></li>
                    <li><a href="" ng-click="logout()">Log off</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        <ng-view></ng-view>
        <hr/>
        <footer>
            <p>&copy; {{ year }} - DjangoFEA</p>
        </footer>
    </div>
    <script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'app/scripts/bootstrap.js' %}"></script>
    <script src="{% static 'app/scripts/respond.js' %}"></script>
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
    <script src="{% static 'app/scripts/angular.js' %}"></script>
    <script src="{% static 'app/scripts/app.config.js' %}"></script>
    <script src="{% static 'app/scripts/chart.min.mine.js' %}"></script>
    <script src="{% static 'app/directives/node.directive.js' %}"></script>
    <script src="{% static 'app/directives/section.directive.js' %}"></script>
    <script src="{% static 'app/directives/element.directive.js' %}"></script>
    <script src="{% static 'app/directives/concentratedLoad.directive.js' %}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
