{% extends "app/layout.html" %}

{% block content %}

<script type="text/javascript">
    var dates = {{ dates }};
    var counts = {{ counts }};
</script>

<div class="jumbotron">
    <canvas id="myChart" width="500" height="400"></canvas>
    
    <form method="POST">{% csrf_token %}
        <button type="submit" class="btn btn-primary btn-large" name="refresh">Refresh</button>
    </form>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Nodes</h2>
        {% for node in nodes %}
        <div class="post" id="nodes">
            <p>{{ node.x }}</p>
            <a href="{% url 'node_delete' pk=node.pk %}">Delete</a>
        </div>
        {% endfor %}
        <form method="POST" class="post-form" id="node-form">{% csrf_token %}
            {{ nodeForm.as_p }}
            <button type="submit" class="save btn btn-default" name="node">Add node</button>
        </form>
    </div>
    <div class="col-md-4">
        <h2>Elements</h2>
        {% for element in elements %}
        <div class="post" id="elements">
            <p>{{ element.node_start }}</p>
            <a href="{% url 'element_delete' pk=element.pk %}">Delete</a>
        </div>
        {% endfor %}
        <form method="POST" class="post-form">{% csrf_token %}
            {{ elementForm.as_p }}
            <button type="submit" class="save btn btn-default" name="element">Add element</button>
        </form>
    </div>
    <div class="col-md-4">
        <h2>Loads</h2>
        {% for load in loads %}
        <div class="post" id="loads">
            <p>{{ load }}</p>
            <a href="{% url 'load_delete' pk=load.pk %}">Delete</a>
        </div>
        {% endfor %}
        <form method="POST" class="load-form">{% csrf_token %}
            {{ loadForm.as_p }}
            <button type="submit" class="save btn btn-default" name="load">Add load</button>
        </form>
    </div>
</div>

{% endblock %}
