{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Django</h1>
    <p class="lead">Django is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="{% url 'home' %}" class="btn btn-primary btn-large">Update View &raquo;</a></p>
    <form method="POST">{% csrf_token %}
        <button type="submit" class="btn btn-primary btn-large">Refresh</button>
    </form>
</div>


<div class="row">
    <div class="col-md-4">
        <h2>Nodes</h2>
        {% for node in nodes %}
        <div class="post">
            <p>{{ node.x_coord|linebreaksbr }}</p>
            <a href="{% url 'node_delete' pk=node.pk %}">Delete</a>
        </div>
        {% endfor %}
        <form method="POST" class="post-form">{% csrf_token %}
            {{ nodeForm.as_p }}
            <button type="submit" class="save btn btn-default">Add node</button>
        </form>
    </div>
    <div class="col-md-4">
        <h2>Elements</h2>
        {% for element in elements %}
        <div class="post">
            <p>{{ element.node_start|linebreaksbr }}</p>
            <a href="{% url 'element_delete' pk=element.pk %}">Delete</a>
        </div>
        {% endfor %}
        <form method="POST" class="post-form">{% csrf_token %}
            {{ elementForm.as_p }}
            <button type="submit" class="save btn btn-default">Add element</button>
        </form>
    </div>
    <div class="col-md-4">
        <h2>Loads</h2>
        <p>You can easily publish to Microsoft Azure using Visual Studio. Find out how you can host your application using a free trial today.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
</div>



<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Django gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://www.djangobook.com/en/2.0/index.html">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>The Python Package Index is a repository of software for the Python programming language.</p>
        <p><a class="btn btn-default" href="https://pypi.org/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Microsoft Azure</h2>
        <p>You can easily publish to Microsoft Azure using Visual Studio. Find out how you can host your application using a free trial today.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
