<tr ng-model-options="modelOptions">
    <td ng-hide="edit">{{ concentratedLoad.associated_element }}</td>
    <td ng-hide="edit">{{ concentratedLoad.f1 }}</td>
    <td ng-hide="edit">{{ concentratedLoad.coord1 }}</td>
    <td ng-hide="edit">{{ concentratedLoad.m }}</td>
    <td ng-hide="edit">{{ concentratedLoad.deg }}</td>
    <td ng-hide="edit" class="display-flex">
        <a class="save btn btn-default btn-sm" ng-click="edit=true">Edit</a>
        <a class="save btn btn-default btn-sm" ng-click="delete()">-</a>
    </td>

    <form method="POST" class="form" id="empty-concentrated-load-form">{% endverbatim %}{% csrf_token %}{% verbatim %}
        <td ng-show="edit"><select ng-model="concentratedLoad.associated_element" ng-options="element.id as element.id for element in elements" ng-change="update()" /></td>
        <td ng-show="edit"><input type="number" id="form" ng-model="concentratedLoad.f1" ng-change="update()" /></td>
        <td ng-show="edit"><input type="number" id="form" ng-model="concentratedLoad.coord1" ng-change="update()" /></td>
        <td ng-show="edit"><input type="number" id="form" ng-model="concentratedLoad.m" ng-change="update()" /></td>
        <td ng-show="edit"><input type="number" id="form" ng-model="concentratedLoad.deg" ng-change="update()" /></td>
        <td ng-show="edit"><button type="submit" class="save btn btn-default btn-sm btn-block" ng-click="edit=false"> Save </button></td>
    </form>
</tr>