<tr ng-model-options="modelOptions">
    <td ng-hide="edit">{{ element.id }}</td>
    <td ng-hide="edit">{{ element.section }}</td>
    <td ng-hide="edit">{{ element.node_start }}</td>
    <td ng-hide="edit">{{ element.node_end }}</td>
    <td ng-hide="edit">{{ element.hinge_start }}</td>
    <td ng-hide="edit">{{ element.hinge_end }}</td>
    <td ng-hide="edit" class="display-flex">
        <a class="save btn btn-default btn-sm" ng-click="edit=true">Edit</a>
        <a class="save btn btn-default btn-sm" ng-click="delete()">-</a>
    </td>

    <form method="POST" class="form" id="empty-element-form">{% endverbatim %}{% csrf_token %}{% verbatim %}
        <td ng-show="edit"></td>
        <td ng-show="edit"><select ng-model="element.section" ng-options="section for section in sectionsIds" ng-change="update()" /></td>
        <td ng-show="edit"><select ng-model="element.node_start" ng-options="node for node in nodesIds" ng-change="update()" /></td>
        <td ng-show="edit"><select ng-model="element.node_end" ng-options="node for node in nodesIds" ng-change="update()" /></td>
        <td ng-show="edit"><input type="checkbox" ng-model="element.hinge_start" ng-change="update()" /></td>
        <td ng-show="edit"><input type="checkbox" ng-model="element.hinge_end" ng-change="update()" /></td>
        <td ng-show="edit"><button type="submit" class="save btn btn-default btn-sm btn-block" ng-click="edit=false"> Save </button></td>
    </form>
</tr>