<div class="jumbotron">
    <canvas ng-init="onload()" id="model_chart"></canvas>
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <a class="save btn btn-default btn-sm" ng-click="onload()">Model</a>
        <a class="save btn btn-default btn-sm" ng-click="deflection()">Deflection</a>
        <a class="save btn btn-default btn-sm" ng-click="bending()">Bending</a>
        <a class="save btn btn-default btn-sm" ng-click="shear()">Shear</a>
        <a class="save btn btn-default btn-sm" ng-click="axial()">Axial</a>
    </div>
    <div class="display-flex">
        <input type="number" id="slider-left" ng-model="slider.options.floor" class="ng-pristine ng-valid ng-empty ng-touched col-sm-1">
        <rzslider id="slider" rz-slider-model="slider.value" rz-slider-options="slider.options" class="col-sm-3"></rzslider>
        <input type="number" id="slider-right" ng-model="slider.options.ceil" class="ng-pristine ng-valid ng-empty ng-touched col-sm-1">
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Nodes</h2>
        <div class="post" id="nodes">
            <table>
                <tr>
                    <th>ID</th>
                    <th>X|m</th>
                    <th>Y|m</th>
                </tr>
                <tr node ng-repeat="node in nodes"></tr>
                <tr>
                    <form method="POST" class="form" id="empty-node-form">
                        <td></td>
                        <td><input type="number" id="form" ng-model="x" /></td>
                        <td><input type="number" id="form" ng-model="y" /></td>
                        <td><input type="checkbox" ng-model="x_boundary_condition" /></td>
                        <td><input type="checkbox" ng-model="y_boundary_condition" /></td>
                        <td><input type="checkbox" ng-model="fi_boundary_condition" /></td>
                        <td><button ng-click="add_node(nodes)" class="save btn btn-default btn-sm btn-block" name="new_node"> + </button></td>
                    </form>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-md-4">
        <h2>Sections</h2>
        <div class="post" id="sections">
            <table>
                <tr>
                    <th>ID</th>
                    <th>E|GPa</th>
                    <th>A|cm<sup>2</sup></th>
                    <th>J|cm<sup>4</sup></th>
                    <th>&#947;|kN/m<sup>3</sup></th>
                </tr>
                <tr section ng-repeat="section in sections"></tr>
                 <tr>
                    <form method="POST" class="form" id="empty-section-form">
                        <td></td>
                        <td><input type="number" id="form" ng-model="E" /></td>
                        <td><input type="number" id="form" ng-model="A" /></td>
                        <td><input type="number" id="form" ng-model="J" /></td>
                        <td><input type="number" id="form" ng-model="ro" /></td>
                        <td><button ng-click="add_section(sections)" class="save btn btn-default btn-sm btn-block" name="new_section"> + </button></td>
                    </form>
                </tr>
            </table>
        </div>

        <h2>Elements</h2>
        <div class="post" id="elements">
            <table>
                <tr>
                    <th>ID</th>
                    <th>Section</th>
                    <th>Start</th>
                    <th>End</th>
                </tr>
                <tr element ng-repeat="element in elements"></tr>
                <tr>
                    <form method="POST" class="form" id="empty-element-form">
                        <td></td>
                        <td><select ng-model="section" ng-options="section.id as section.id for section in sections" /></td>
                        <td><select ng-model="node_start" ng-options="node.id as node.id for node in nodes" /></td>
                        <td><select ng-model="node_end" ng-options="node.id as node.id for node in nodes" /></td>
                        <td><input type="checkbox" ng-model="hinge_start" /></td>
                        <td><input type="checkbox" ng-model="hinge_end" /></td>
                        <td><button ng-click="add_element(elements)" class="save btn btn-default btn-sm btn-block" name="new_element"> + </button></td>
                    </form>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-md-5">
        <h2>Concentrated Loads</h2>
        <div class="post" id="concentrated-loads">
            <table>
                <tr>
                    <th>Element</th>
                    <th>F|kN</th>
                    <th>x/L|-</th>
                    <th>M|kNm</th>
                    <th>deg|<sup>o</sup></th>
                </tr>
                <tr concentrated ng-repeat="concentratedLoad in concentratedLoads"></tr>
                <tr>
                    <form method="POST" class="form" id="empty-concentrated-load-form">
                        <td><select ng-model="associated_element" ng-options="element.id for element in elements" /></td>
                        <td><input type="number" id="form" ng-model="f1" /></td>
                        <td><input type="number" id="form" ng-model="coord1" /></td>
                        <td><input type="number" id="form" ng-model="m" /></td>
                        <td><input type="number" id="form" ng-model="deg" /></td>
                        <td><button ng-click="add_concentrated_load(concentratedLoads)" class="save btn btn-default btn-sm btn-block" name="new_concentrated_load"> + </button></td>
                    </form>
                </tr>
            </table>
        </div>
    </div>
</div>