<div class="jumbotron">
    <canvas ng-init="onload()" id="model_chart"></canvas>
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <a class="save btn btn-default btn-sm" ng-click="onload()">Model</a>
        <a class="save btn btn-default btn-sm" ng-click="deflection()">Deflection</a>
        <a class="save btn btn-default btn-sm" ng-click="bending()">Bending</a>
        <a class="save btn btn-default btn-sm" ng-click="shear()">Shear</a>
        <a class="save btn btn-default btn-sm" ng-click="axial()">Axial</a>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Nodes</h2>
        <div class="post" id="nodes">
            <table>
                <tr>
                    <th>ID</th>
                    <th>X|m</th>
                    <th>Y|m</th>
                </tr>
                <tr node ng-repeat="node in nodes"></tr>
                <tr>
                    <form method="POST" class="form" id="empty-node-form">
                        <td></td>
                        <td><input type="number" ng-model="x" /></td>
                        <td><input type="number" ng-model="y" /></td>
                        <td><input type="checkbox" ng-model="x_boundary_condition" /></td>
                        <td><input type="checkbox" ng-model="y_boundary_condition" /></td>
                        <td><input type="checkbox" ng-model="fi_boundary_condition" /></td>
                        <td><button ng-click="add_node(nodes)" class="save btn btn-default btn-sm btn-block" name="new_node"> + </button></td>
                    </form>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-md-4">
        <h2>Sections</h2>
        <div class="post" id="sections">
            <table>
                <tr>
                    <th>ID</th>
                    <th>E|GPa</th>
                    <th>A|cm<sup>2</sup></th>
                    <th>J|cm<sup>4</sup></th>
                    <th>&#947;|kN/m<sup>3</sup></th>
                </tr>
                <tr section ng-repeat="section in sections"></tr>
                 <tr>
                    <form method="POST" class="form" id="empty-section-form">
                        <td></td>
                        <td><input type="number" ng-model="E" /></td>
                        <td><input type="number" ng-model="A" /></td>
                        <td><input type="number" ng-model="J" /></td>
                        <td><input type="number" ng-model="ro" /></td>
                        <td><button ng-click="add_section(sections)" class="save btn btn-default btn-sm btn-block" name="new_section"> + </button></td>
                    </form>
                </tr>
            </table>
        </div>

        <h2>Elements</h2>
        <div class="post" id="elements">
            <table>
                <tr>
                    <th>ID</th>
                    <th>Section</th>
                    <th>Start</th>
                    <th>End</th>
                </tr>
                <tr element ng-repeat="element in elements"></tr>
                <tr>
                    <form method="POST" class="form" id="empty-element-form">
                        <td></td>
                        <td><select ng-model="section" ng-options="section for section in sectionsIds" /></td>
                        <td><select ng-model="node_start" ng-options="node for node in nodesIds" /></td>
                        <td><select ng-model="node_end" ng-options="node for node in nodesIds" /></td>
                        <td><input type="checkbox" ng-model="hinge_start" /></td>
                        <td><input type="checkbox" ng-model="hinge_end" /></td>
                        <td><button ng-click="add_element(elements)" class="save btn btn-default btn-sm btn-block" name="new_element"> + </button></td>
                    </form>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-md-5">
        <h2>Concentrated Loads</h2>
        <div class="post" id="concentrated-loads">
            <table>
                <tr>
                    <th>Element</th>
                    <th>F|kN</th>
                    <th>x/L|-</th>
                    <th>M|kNm</th>
                    <th>deg|<sup>o</sup></th>
                </tr>
                <tr concentrated ng-repeat="concentratedLoad in concentratedLoads"></tr>
                <tr>
                    <form method="POST" class="form" id="empty-concentrated-load-form">
                        <td><select ng-model="associated_element" ng-options="element for element in elementsIds" /></td>
                        <td><input type="number" ng-model="f1" /></td>
                        <td><input type="number" ng-model="coord1" /></td>
                        <td><input type="number" ng-model="m" /></td>
                        <td><input type="number" ng-model="deg" /></td>
                        <td><button ng-click="add_concentrated_load(concentratedLoads)" class="save btn btn-default btn-sm btn-block" name="new_concentrated_load"> + </button></td>
                    </form>
                </tr>
            </table>
        </div>

        <h2>Distributed Loads</h2>
        <div class="post" id="distributed-loads">
            <table>
                <tr>
                    <th>Element</th>
                    <th>F1|kN/m</th>
                    <th>F2|kN/m</th>
                    <th>x1/L|-</th>
                    <th>x2/L|-</th>
                    <th>deg|<sup>o</sup></th>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="display-flex">
                        <a class="save btn btn-default btn-sm">Edit</a>
                        <a class="save btn btn-default btn-sm">-</a>
                    </td>
                </tr>          
            </table>
        </div>
    </div>
</div>